{% spaceless %}
{% include '/common/flashbags.twig' %}
{% include "back/buttons.twig" %}
<div style="clear:both;margin-top:25px;width:99%;"><table class="grid" id="list{{ gridKey }}"></table></div>
<script>
    "use strict";
    var jqGridColNames{{ gridKey }}    = {{ jqGridColNames|json_encode()|raw }};
    var jqGridColModels{{ gridKey }}   = {{ jqGridColModels|json_encode()|raw }};
    var jqGridDataReadUrl{{ gridKey }} = "{{ jqGridDataReadUrl }}";
    var jqGridName{{ gridKey }}        = "{{ jqGridName }}";
    //Simple grid (no pagination) defined into sublayout.js
    loadGrid('{{ gridKey }}');
</script>
{% endspaceless %}
